<div class="panel panel-primary">
  <div class="panel-heading"><h4>Registered Applications</h4></div>
  <table class = "table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
     
    <tbody>
      <% @registered_applications.each do |registered_application| %>
        <tr>
          <td><%= link_to registered_application.name, registered_application %></td>
          <td><%= registered_application.url %></td>
          <td>
            <%= link_to registered_application_path(registered_application), method: :delete do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>    
      <% end %>  
    </tbody>  
  </table>
</div>

<br>

<p><%= link_to "Add Application", new_registered_application_path, class: "btn btn-sm btn-success" %></p>