<table class = "table table-striped">
   <h2>Registered Applications</h2>
   
   <thead>
      <tr>
         <th>Name</th>
         <th>URL</th>
      </tr>
   </thead>
   
   <tbody>
    <% @registered_applications.each do |registered_application| %>
      <tr>
        <td><%= link_to registered_application.name, registered_application %></td>
        <td><%= registered_application.url %></td>
      </tr>
      
    <% end %>  
   </tbody>  
</table>
<br>
<p><%= link_to "Add", new_registered_application_path %> an application</p>